<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/piyushiitg/plivo">Plivo Call</a></strong> <br/>
			Build an application using Plivo APIs and XML that collects responses to simple survey questions through IVRS.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/piyushiitg/vimeouser">Vimeo User</a></strong> <br/>
            Build an application for Fetching, Storeing and Searching Vimeo User with Specific attributes
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/piyushiitg/popen">Popen Timeout</a></strong> <br/>
            Provide timeout at Popen
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/piyushiitg/knapsack">Knapsack Algorithm for Conference arrangement</a></strong> <br/>
            Planning a big programming conference and have received many proposals, fitting them into the time constraints of the day
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/piyushiitg/photoViewer">File Viewer in Application</a></strong> <br/>
             File Upload and View in Browser and support of Dropbox, S3, Google Drive (In Progress...) 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/piyushiitg/gevent">Playing with Gevent</a></strong> <br/>
This program is good for I/O bound activity.
		</h5>
    </div>
  </div>
</div>
</section>
